/* html y body las utilizo con estos valores para que los rem se adapten mejor a las pantallas*/
html{
    font-size: 62.5%;
}
body{
    font-size: 16px; /* 1rem = 10px */
}


h1 {
    text-align: center;
}
span{
    font-size: 1.3rem;
}







footer {
    text-align: center;
    background-color: gray;
}